/* Global*/
*{box-sizing: border-box;;}
body{margin:0;padding:0;background:#fff;font-family: 'Dosis', sans-serif;}
.container{width:85%;margin: 0 auto;max-width: 1200px;}
img{max-width:100%;height: auto;}
p{font-size:18px;color:#555;}
h2{font-size:35px;letter-spacing: 5px;}
h3{font-size:30px;letter-spacing: 2px;font-weight: 500;}
h4{font-size:22px;}

/* Rock, Paper, Scissors */
.game-container{width: 70%;margin: 0 auto;}
#rock-game{text-align: center;}
.choices{display: flex;}
.choice{background: #f2f5fa;margin: 10px 0;flex: 1 28%;margin: 15px;}
.choice:hover {cursor: pointer;border: 3px solid black;}
.score-board{width: 250px;margin: 0 auto;border: 4px solid black;font-size: 46px;margin-bottom: 30px;}

/* Media Queries*/
@media all and (min-width: 576px){
  /* Footer */
.footer-nav{display:block;}
}

@media all and (min-width: 768px){
  /* Global*/
  .row{display: flex;}
  .row{flex-wrap: wrap;justify-content: center;}

  /* Boxes */
  .box{flex-basis: 45%;margin: 10px;}
  .box-2{flex-basis: 45%;margin: 10px;}

  /* Footer */
  .footer-nav{display: flex;}
  .footer-nav{justify-content: center;}
}

@media all and (min-width: 992px){
  /* Header */
  .header-inner{flex-direction: row;justify-content: space-between;}

  /* Boxes */
  .box{flex-basis: 28%;}
  .box-2{flex-basis: 28%;}
}
